<?xml version="1.0" encoding="utf-8"?>
<robot name="full_assembly_robot_unit">

  <material name="chassis_color">
    <color rgba="0.79 0.82 0.93 1" />
  </material>
  <material name="leg_color">
    <color rgba="0.5 1.0 0.5 1" />
  </material>

  <link name="chassis">
    <inertial>
      <origin xyz="0 -0.0071 -0.0065" rpy="0 0 0" />
      <mass value="0.0579" />
      <inertia ixx="1.489e-05" ixy="0" ixz="0" iyy="3.347e-05" iyz="7.192e-08" izz="2.671e-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/chassis.STL" />
      </geometry>
      <material name="chassis_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>

  <link name="right_leg_link">
    <inertial>
      <origin xyz="0 0 0.0006" rpy="0 0 0" />
      <mass value="0.00002" />
      <inertia ixx="2.74e-11" ixy="0" ixz="0" iyy="2.74e-11" iyz="0" izz="4.66e-11" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/right_leg_link.STL" />
      </geometry>
      <material name="leg_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/right_leg_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_leg_joint" type="fixed">
    <origin xyz="-0.014 0.0113 0.0173" rpy="-1.5708 0 3.1416" />
    <parent link="chassis" />
    <child link="right_leg_link" />
  </joint>

  <link name="left_leg_link">
    <inertial>
      <origin xyz="0 0 0.0006" rpy="0 0 0" />
      <mass value="0.00002" />
      <inertia ixx="2.74e-11" ixy="0" ixz="0" iyy="2.74e-11" iyz="0" izz="4.66e-11" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/left_leg_link.STL" />
      </geometry>
      <material name="leg_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/left_leg_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_leg_joint" type="fixed">
    <origin xyz="0.014 0.0113 0.0173" rpy="-1.5708 0 3.1416" />
    <parent link="chassis" />
    <child link="left_leg_link" />
  </joint>

</robot>