<?xml version="1.0" encoding="utf-8"?>
<robot name="full_assembly_robot_unit">

<link name="chassis_link">
  <inertial>
    <origin xyz="-1.7488e-05 -0.00532026 -0.00564779" rpy="0 0 0"/>
    <mass value="0.3"/>
    <inertia ixx="7.088e-05" ixy="0" ixz="0"
             iyy="1.714e-04" iyz="3.701e-07"
             izz="1.318e-04"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/chassis_link.STL"/>
    </geometry>
    <material name="dark_grey">
      <color rgba="0.2 0.2 0.2 1"/>
    </material>
  </visual>
  <collision>
    <geometry>
      <mesh filename="robots/meshes/chassis_link_vhacd.obj"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_link">
  <inertial>
    <origin xyz="-0.004 0 0" rpy="0 0 0"/>
    <mass value="0.005"/>
    <inertia ixx="7.5e-08" ixy="0" ixz="0"
             iyy="7.5e-08" iyz="0"
             izz="7.5e-08"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/left_wheel_link.STL"/>
    </geometry>
    <material name="green">
      <color rgba="0.0 1.0 0.0 1"/>
    </material>
  </visual>
  <collision>
    <origin xyz="0.004 0 0" rpy="0 1.570796 0"/>
    <geometry>
      <!-- Replaced mesh with cylinder for smoother physics. Adjust radius and length if necessary to match visual -->
      <!-- <cylinder radius="0.00575" length="0.008"/> -->
      <cylinder radius="0.00575" length="0.004"/>
    </geometry>
    <surface>
      <friction>
        <!-- <ode mu="1.0" mu2="1.0"/> -->
        <ode mu="2.0" mu2="2.0"/>
      </friction>
    </surface>
  </collision>
</link>

<joint name="left_wheel_joint" type="continuous">
  <origin xyz="0.02264 0.009 -0.02193" rpy="0 0 0"/>
  <parent link="chassis_link"/>
  <child link="left_wheel_link"/>
  <axis xyz="-1 0 0"/>
</joint>

<link name="right_wheel_link">
  <inertial>
    <origin xyz="-0.004 0 0" rpy="0 0 0"/>
    <mass value="0.005"/>
    <inertia ixx="7.5e-08" ixy="0" ixz="0"
             iyy="7.5e-08" iyz="0"
             izz="7.5e-08"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/right_wheel_link.STL"/>
    </geometry>
    <material name="red">
      <color rgba="1.0 0.0 0.0 1"/>
    </material>
  </visual>
  <collision>
    <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
    <geometry>
      <!-- Replaced mesh with cylinder for smoother physics. Adjust radius and length if necessary to match visual -->
      <!-- <cylinder radius="0.00575" length="0.008"/> -->
      <cylinder radius="0.00575" length="0.004"/>
    </geometry>
    <surface>
      <friction>
        <!-- <ode mu="1.0" mu2="1.0"/> -->
        <ode mu="2.0" mu2="2.0"/>
      </friction>
    </surface>
  </collision>
</link>

<joint name="right_wheel_joint" type="continuous">
  <origin xyz="-0.02264 0.009 -0.02193" rpy="3.1416 0 3.1416"/>
  <parent link="chassis_link"/>
  <child link="right_wheel_link"/>
  <axis xyz="1 0 0"/>
</joint>

<link name="UV_LED_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.001"/>
    <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/UV_LED_link.STL"/>
    </geometry>
    <material name="purple">
      <color rgba="0.6 0.0 1.0 1"/>
    </material>
  </visual>
</link>

<joint name="UV_LED_joint" type="fixed">
  <origin xyz="0 0 0.0183562" rpy="0 1.5708 0"/>
  <parent link="chassis_link"/>
  <child link="UV_LED_link"/>
</joint>

<link name="sensor_camera_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.001"/>
    <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/sensor_camera_link.STL"/>
    </geometry>
    <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
    </material>
  </visual>
</link>

<joint name="sensor_camera_joint" type="fixed">
  <origin xyz="0 0 -0.03073" rpy="+1.5708 +1.5708 +1.5708"/>
  <parent link="chassis_link"/>
  <child link="sensor_camera_link"/>
</joint>

<link name="right_leg_link">
  <inertial>
    <origin xyz="0 0 0.0006" rpy="0 0 0" />
    <mass value="0.00002" />
    <inertia ixx="2.74e-11" ixy="0" ixz="0" iyy="2.74e-11" iyz="0" izz="4.66e-11" />
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/right_leg_link.STL" />
    </geometry>
    <material name="leg_color"/>
  </visual>
  <collision>
    <geometry>
      <mesh filename="robots/meshes/right_leg_link.STL" />
    </geometry>
  </collision>
</link>

<joint name="right_leg_joint" type="fixed">
  <origin xyz="-0.014 0.0143 0.0173" rpy="-1.5708 0 3.1416" />
  <parent link="chassis_link" />
  <child link="right_leg_link" />
</joint>

<link name="left_leg_link">
  <inertial>
    <origin xyz="0 0 0.0006" rpy="0 0 0" />
    <mass value="0.00002" />
    <inertia ixx="2.74e-11" ixy="0" ixz="0" iyy="2.74e-11" iyz="0" izz="4.66e-11" />
  </inertial>
  <visual>
    <geometry>
      <mesh filename="robots/meshes/left_leg_link.STL" />
    </geometry>
    <material name="leg_color"/>
  </visual>
  <collision>
    <geometry>
      <mesh filename="robots/meshes/left_leg_link.STL" />
    </geometry>
  </collision>
</link>

<joint name="left_leg_joint" type="fixed">
  <origin xyz="0.014 0.0143 0.0173" rpy="-1.5708 0 3.1416" />
  <parent link="chassis_link" />
  <child link="left_leg_link" />
</joint>

</robot>